.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: rotateY(0deg); /* Always use mobile rotation */
}

.heading {
  margin-bottom: 30px;
}

.info {
  margin-top: 60px;
}

/* Media query no longer needed since we always use mobile UI */