.container {
  transform: rotateY(180deg);
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
  justify-content: center;
  /* backface-visibility: hidden; */
}

.redirect {
  width: 100%;
  min-height: 300px;
}

.title {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1100px) {
  .container {
    transform: rotateY(0deg);
  }
}
