.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: rotateY(0deg); /* Always use mobile rotation */
  padding: 10% 0; /* Use mobile padding */
}

.side-placeholder {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px; /* Use mobile font size */
  border-radius: 30px;
}

.img {
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: -1;
  opacity: 0.5;
}

.title {
  text-shadow: 0 0 25px #000;
}