.container {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 36px;
}

.content-wrapper {
  overflow: auto;
}

.content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 30px;
  margin: 40px 0;
}

.content > * {
  margin: 0 40px;
}

.content > h4 {
  font-size: 36px;
  margin: 0;
  border-bottom: 3px solid var(--main-color);
  padding: 15px 0;
  background: linear-gradient(0deg, var(--main-color), transparent);
}

.ul {
  list-style-position: inside;
  max-width: 70%;
  width: max-content;
  margin: auto;
  list-style: none;
}

@media (max-width: 1100px) {
  .content-wrapper {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.ul > li {
  text-align: start;
  word-wrap: normal;
  margin-bottom: 15px;
}

.ul > li > div > a {
  font-size: 18px !important;
  padding: 10px 0;
}

.section-heading {
  display: inline;
  font-size: 30px;
  font-weight: bold;
  background: linear-gradient(90deg, var(--main-color), transparent);
  border-radius: 10px;
  padding: 5px 15px;
  color: #fff;
}

.link-wrapper {
  font-size: 30px;
  padding: 5px 15px;
  border-radius: 10px;
  background: linear-gradient(90deg, var(--main-color), transparent);
}

@media (max-width: 1100px) {
  .link-wrapper {
    font-size: 24px;
  }
}
