.container {
  transform: rotateY(0deg); /* Always use mobile rotation */
  text-align: center;
  height: 90%; /* Use mobile height */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 25px;
}

.tiles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
  height: fit-content;
}

.content-wrapper {
  overflow: auto;
}